/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: beige;
    background-color: BlanchedAlmond;
    border-color: #1861ac;
}
